{% extends 'base.html' %}

{% block content %}
    
    {% if user.is_authenticated %}
    <table class="table table-stripped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Cabin No.</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Customer Aadhaar</th>
            <th scope="col">Client type</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
          
    {% if customers %}
                {% for customer in customers %}
            <tr>
                    <td><a href="{% url 'record' customer.id %}">
                        {{customer.first_name}}
                      {{customer.last_name}}</a></td> 
                     <td>{{customer.email}}</td>
                     <td>{{customer.phone}}</td>
                     <td> {{customer.Place_Allotted}}</td>
                     <td> {{customer.start_date}}</td>
                     <td>{{customer.end_date}}</td>
                     <td> {{customer.customer_Aadhaar}}</td>
                     <td>{{customer.client_Type}}</td>
                     <td><a href="{% url 'record' customer.id %}">
                        {{customer.id}}</a></td>
            </tr>
               {%  endfor %}
    
    {% endif %}

            </tbody>
        </table>


    {% else %}

     <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br>
        <form method="post" action="{% url 'index' %}">
          {% csrf_token %}
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
          <input type="text" class="form-control" name="username"
           placeholder="Username or Email" required>
        </div>
        <br>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
          <input type="password" class="form-control" name="password" 
          placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
  
    </form>

{% endif %}

{% endblock %}