{% extends 'base.html' %}

{% block content %}
    
    {% if user.is_authenticated %}
    <table class="table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Cabin No.</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Customer Aadhaar</th>
            <th scope="col">Client type</th>
          </tr>
        </thead>
        <tbody>
          <tr>


            </tr>
            </tbody>
        </table>
    {% if customers %}
        {% for customer in customers %}
        {{customer.}}<br>

    {% endif %}

    {% else %}
     
<h1>Login</h1>
<br>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
          <input type="text" class="form-control" name="username"
           placeholder="Username or Email" required>
        </div>
        <br>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
          <input type="password" class="form-control" name="password" 
          placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>


</form>


{% endblock %}